div.carouselContainer {
    display:flex;
    justify-content:center;
    align-items:center;
}
.slick-initialized .slick-slide {
    display: flex;
}

.head {
    text-align: center;
}

.carouselActions {
    width: 200%;
}

.priceContainer {
    text-align: center;
}

div.carouselInner {
    display: block;
    width: 80%;
}

.thumb img {
    margin: 0 auto;
}